body{
  background-color: #000;
}
*{
 /*-webkit-box-sizing: border-box;*/
}
.game{

  display: flex;
  justify-content: center;
  margin: 15vh auto;
  width: 80vw;
  
}

.board{
  position:relative;
  margin: 0;
  border:.2vw solid transparent;
  border-radius: 10px;
  border-image: linear-gradient(to right, pink , hotpink);
  border-image-slice: 1;
  width:14vw;
  height: 14rem;
  font-size: 12rem;
  color: transparent;
  font-family: Monospace;
  text-align: center;
  transition: all .2s ease-in ;
}

.show{
  color: #fff;
}
.cut{
  background-color: darkgrey;
}

